.div-secciones {
    display: flex;
    justify-content: center;
}

.seccion-container {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: rgb(247, 219, 183);
    border-radius: 20px;
    border: 0cap;
    width: 400px;
    height: 330px;
    color: rgb(13, 13, 50);
}

.seccion-container:hover {
    background-color: rgb(227, 199, 163);
    color: aliceblue;
}

.becomeMember-button {
    width: 200px;
    height: 70px;
}

.div-button {
    display: flex;
    justify-content: center;
}