.div-secciones {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.seccion-container {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: rgba(13, 48, 118, 0.912);
  border-radius: 15px;
  border: 0cap;
  width: 400px;
  height: 330px;
  color: rgba(255, 255, 255, 0.8);
}

.seccion-container:hover {
  background-color: rgb(59, 88, 146);
  color: rgba(255, 255, 255, 0.8);
}

.becomeMember-button {
  width: 200px;
  height: 70px;
}

.div-button {
  display: flex;
  justify-content: center;
}
