.container-statistics {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.statistics-column {
    flex-basis: 32%;
    flex-grow: 1;
    min-width: 280px;
}