.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    justify-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .activities-title {
    text-align: center; 
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(13, 48, 118, 0.912);
  }
  