/* Estilo para el contenedor del carrusel */
.carousel-container {
  max-width: 100%;
  max-height: 600px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo para las imágenes dentro del carrusel */
.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 20px;
}
