.sports-container {
  padding: 20px;
}

.sports-title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: rgba(13, 48, 118, 0.912);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sports-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.sport-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
  background-color: rgb(242, 245, 252);
  width: 85%;
  height: 95%;
}

.sport-card:hover {
  transform: scale(1.05);
}

.sport-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.sport-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.sport-description {
  list-style: none;
  padding: 0;
}

.sport-description li {
  margin-bottom: 8px;
}

.btn-ver-mas {
  background-color: rgba(13, 48, 118, 0.912) !important;
  border: rgba(13, 48, 118, 0.912) !important;
}
