.users-list {
    width: 100%;
}

.list-item {
    background-color: rgb(242, 245, 252) !important;
    color: rgba(13, 48, 118, 0.912) !important;
    margin: 5px 0px;
    padding: 15px;
    border-radius: 5px;
}