.ultimas-noticias {
    font-size: 2.5rem;
    margin: 40px 0px 0px 90px;
    color: rgba(13, 48, 118, 0.912) !important;
  }
  
  .news-container {
    display: flex;
    margin: 0px 110px;
    height: 25rem;
  }
  
  .news-card {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 245, 252) !important;
    margin-bottom: 20px;
  }
  
  .news-card:hover{
    transform: scale(1.05);
  }
  
  .img-card {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }
  
  .card-title{
    color: rgba(13, 48, 118, 0.912) !important;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color:  rgba(13, 48, 118, 0.912) !important;
    background-size: 100%, 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }

  .btn-ver-mas{
    margin: 10px;
  }