
.fc-scrollgrid {
    background-color: #f1fafa;
    color: #333;
    font-weight: bold;
}

.fc-col-header-cell-cushion {
    color: #000;
    text-transform: uppercase;
}

.fc-event:hover {
    cursor: pointer;
}

.highlighted {
    /*border: 4px solid rgb(58, 12, 12);
    transition: border 0.3s ease;*/
    border-radius: 8px;
    box-shadow: 4px 4px rgba(139, 22, 22, 0.701);
}

.modal-button {
    width: 20%;
}

.membersList-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(33, 66, 132, 0.912);
    display: flex;
    justify-content: center;
}

.users-list-container {
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 80%;
    margin: 0 auto;
}

.users-list-container::-webkit-scrollbar {
    width: 20px;
}
.users-list-container::-webkit-scrollbar-thumb {
    background: rgba(13, 48, 118, 0.912); 
    border-radius: 5px;
}
.users-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
.users-list-container::-webkit-scrollbar-thumb:hover {
    background: rgba(27, 63, 136, 0.912); 
}