.sessions-title {
    text-align: center; 
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(13, 48, 118, 0.912);
}

.calendarContainer {
    width: 90%;
    /*margin: 0 auto;*/
    margin-left: 80px;
    margin-right: 80px;
}

.fc-scrollgrid {
    background-color: #f1fafa;
    color: #333;
    font-weight: bold;
}

.fc-col-header-cell-cushion {
    color: #000;
    text-transform: uppercase;
}

.modal-button {
    width: 20%;
    margin-left: 80px;
    background-color: rgb(134, 33, 33);
    height: 50px;
}

.modal-button:hover {
    background-color: rgb(167, 47, 47);
}

.membersList-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(33, 66, 132, 0.912);
    display: flex;
    justify-content: center;
}

.users-list-container {
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 60%;
    margin: 0 auto;
}

.users-list-container::-webkit-scrollbar {
    width: 20px;
}

.users-list-container::-webkit-scrollbar-thumb {
    background: rgba(13, 48, 118, 0.912);
    border-radius: 5px;
}

.users-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

.users-list-container::-webkit-scrollbar-thumb:hover {
    background: rgba(27, 63, 136, 0.912);
}

.modal-header {
    background-color: rgb(134, 33, 33);
}

.close-button-modal:hover {
    background-color: transparent;
}

/* Estilo para eventos saturados (cuando el coach es el usuario logueado) */
.event {
    background-color: rgb(41, 79, 155); /* Rojo para Basquet, puedes personalizarlo */
    color: white;
  }
  
  /* Estilo para eventos faded (cuando el coach NO es el usuario logueado) */
  .event-faded {
    background-color: rgb(106, 141, 212); /* Rojo más claro (faded) */
    color: gray;
  }
  
  
  /* Hover effect */
  .fc-event:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
  }
  
