.calendar-container {
    width: 90%;
    /*margin: 0 auto;*/
    margin-left: 80px;
    margin-right: 80px;
}

.fc-scrollgrid {
    background-color: #f1fafa;
    color: #333;
    font-weight: bold;
}

.fc-col-header-cell-cushion {
    color: #000;
    text-transform: uppercase;
}

.modal-button {
    width: 20%;
    margin-left: 80px;
    background-color: rgb(134, 33, 33);
    height: 50px;
}

.modal-button:hover {
    background-color: rgb(167, 47, 47);
}

.membersList-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(33, 66, 132, 0.912);
    display: flex;
    justify-content: center;
}

.users-list-container {
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 60%;
    margin: 0 auto;
}

.users-list-container::-webkit-scrollbar {
    width: 20px;
}

.users-list-container::-webkit-scrollbar-thumb {
    background: rgba(13, 48, 118, 0.912);
    border-radius: 5px;
}

.users-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

.users-list-container::-webkit-scrollbar-thumb:hover {
    background: rgba(27, 63, 136, 0.912);
}

.modal-header {
    background-color: rgb(134, 33, 33);
}

.close-button-modal:hover {
    background-color: transparent;
}

.event-Futbol {
    background-color: #8f1e1e;
}
.event-Futbol:hover {
    cursor: pointer;
    background-color: #9e3737;
}

.event-Tenis {
    background-color: #2d7ba8;
}
.event-Tenis:hover {
    cursor: pointer;
    background-color: #5896b8;
}

.event-Basquet {
    background-color: rgb(41, 79, 155);
}
.event-Basquet:hover {
    cursor: pointer;
    background-color: rgb(58, 98, 179);
}