.login-card {
  background-color: #ffffff;
  padding: 100px;
  border-radius: 12px;
  width: 700px;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.custom-title {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  color:rgba(13, 48, 118, 0.912) !important;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 48, 118, 0.912) !important;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 25px;
}

.login-button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}

.login-links {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 160px;
}

.login-links a {
  color: rgba(13, 48, 118, 0.912) !important;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-links a:hover {
  color: #2980b9;
}
