/* Contenedor del Header */
.navbar-container {
  height: 100px;
  background-color: rgba(13, 48, 118, 0.912);
  align-items: center;
  width: 100%;
}

/* Estilos para los enlaces del menú de navegación */
.Nav-Seccion {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 7px;
  letter-spacing: 0.01em;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.Nav-Seccion {
  cursor: pointer;
}

.Nav-Seccion::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #c6dbed;
  left: 0;
  bottom: 0;
  transition: width 0.4s ease;
}

.Nav-Seccion:hover::after {
  width: 100%; /* Expande la línea al 100% del ancho del enlace */
}

.Header-section {
  margin-left: 100px;
}

.fa-circle-user{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  cursor: pointer;
}