.navbar-container {
    display: flex;
    justify-content: center;
    background-color: rgb(72, 26, 26);
    margin: 0;
    height: 90px;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    width: 100%;
}

.Nav-Seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto; 
    color: antiquewhite;
    font-family: inherit;
    font-size: 15px;
    height: 100%;
    padding: 20px 45px; 
    margin: 0 15px; 
    border-radius: 5px; 
}


.Nav-Seccion:hover {
    background-color: rgb(65, 13, 13);
    cursor: pointer;
    color: rgb(230, 177, 111);
    
}
