.socio-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background-color: rgb(242, 245, 252);
  border-radius: 20px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px;
}

.foto-perfil {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid rgba(13, 48, 118, 0.912); /* Borde más grueso */
  margin-right: 8px;
  margin-left: 15px;
}

h2 {
  margin-left: 50px;
  flex-grow: 1;
}

.section-title {
  font-size: 2.5em; 
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}


.nombre-usuario {
  font-size: 1.9em;
  font-weight: bold;
  color: #333;
  margin-left: 15px;
}

.info-personal,
.suscripcion,
.deportes {
  margin: 30px 50px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
}

.datos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.datos-grid label {
  font-size: 1.1em;
  font-weight: bold;
  color: #222;
  display: block; 
  margin-bottom: 5px; 
}

.datos-grid p {
  font-size: 1em;
  font-weight: normal;
  color: #555;
  margin-top: 0;
}

.suscripcion label,
.suscripcion p,
.deportes p {
  font-size: 1em;
  font-weight: normal;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

.modal-header {
  background-color: #2c55d0;
  color: white;
  padding: 15px;
  font-size: 1.2em;
}

.modal-body {
  background-color: #f4f4f4;
}

.info-personal:hover,
.suscripcion:hover,
.deportes:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.info-personal h3,
.suscripcion h3,
.deportes h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

b {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
}

.boton-modificar:hover {
  background-color: #2c55d0;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.boton-modificar {
  background-color: rgba(13, 48, 118, 0.912) !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 1em !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.3s ease-in-out !important;
}

.deportes {
  color: #555;
  font-weight: normal;
}