.user-container {
    display: flex;
    justify-content: space-around;
}

.user-column {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
}

.user-title {
    color: rgba(13, 48, 118, 0.912) !important;
    border-bottom: 0.5px solid rgba(13, 48, 118, 0.912);
    padding-bottom: 5px;
    font-size: 20px;
}

.user {
    background-color: rgb(242, 245, 252) !important;
    color: rgba(13, 48, 118, 0.912) !important;
    margin: 20px 0px;
    padding: 15px;
    border-radius: 5px;
}

.fa-user {
    margin-right: 5px;
}

.evento-approve{
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(13, 48, 118, 0.912);
    margin-left: 20px;
}

.container-events{
    display: flex;
    justify-content: space-around;
}

button.user {
    display: flex;
    background-color: rgb(242, 245, 252);
    border: none;
    padding: 17px;
    border-radius: 5px;
    color: rgba(13, 48, 118, 0.912);
    cursor: pointer;
    width: 100%;
}

button.user:hover {
    background-color: rgba(13, 48, 118, 0.912);
    color: #fff;
    transform: scale(1.05);
}

button.user:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}