.user-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.user-role-section {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-title {
    color: rgba(13, 48, 118, 0.912);
    border-bottom: 1px solid rgba(13, 48, 118, 0.5);
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.user {
    background-color: rgb(242, 245, 252);
    color: rgba(13, 48, 118, 0.912);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 20px;
}

.user-column{
    width: 300px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.fa-user {
    margin-right: 5px;
}

.evento-approve{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(13, 48, 118, 0.912);
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.container-events{
    display: flex;
    justify-content: space-around;
}

button.user {
    display: flex;
    background-color: rgb(242, 245, 252);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: rgba(13, 48, 118, 0.912);
    cursor: pointer;
    width: 100%;
}

button.user:hover {
    background-color: rgba(13, 48, 118, 0.912);
    color: #fff;
    transform: scale(1.05);
}

button.user:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.fa-x{
    cursor: pointer;
}

.colorButton{
    background-color: rgb(72, 26, 26) !important;
    border: rgb(72, 26, 26) !important;
}
