.div-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 34, 34);
    align-items: center;
    color: aliceblue;
    padding: 20px 20px;
}

.footer-child {
    margin-left: 100px;
}