.footer {
  display: flex;

  width: 100%;
  padding: 2em 0;
  background-color: #9aa2a9;
  align-items: flex-start;
  color: white;
  font-size: 0.9rem;

  font-weight: bold;
  line-height: 250%;
  text-align: center;
}

.footer-section {
  padding: 0 200px;
  margin: 0 10px;
}

.left {
  display: flex;
  align-items: center;
}

.club-logo {
  width: 125px;
  height: auto;
}

.contact-info h5 {
  margin: 5px 15;
  text-decoration: underline;
}

.center {
  flex: 1;
  text-align: center;
}

.center ul {
  list-style-type: none;
  padding: 0;
}

.right {
  text-align: right;
}

.right div {
  margin: 10px 0;
}

.bi {
  margin-right: 5px;
}

.footer-socios h5 {
  margin: 0px 8;
  text-decoration: underline;
}

.footer-section h5 {
  margin: 3px 10;
  text-decoration: underline;
}
